:root {
    --prussian: #00243D;
    --richblack: #00171F;
    --cultured: #F5F5F5;
    --pewter: #89B1BD;
    --crayola: #FFD485;
}

* {
    color: var(--prussian);
}

.background-property img{
    flex: 1;
    width: 100%;
    height: null;
    opacity: 0.5;
}

.background-property{
    position: relative;
    text-align: center;
    width: 100%
}

.center-info{
    background-color: white;
    border-radius: 20px;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: black;
    border: 3px solid black;
}

.sub-heading{
    text-align: center;
    padding: 20px;
}

.about-selfie {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.about-content {
    background-color: var(--pewter);
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.about-body {
    background-color: var(--cultured);
}

::-webkit-scrollbar {display:none;}