:root {
  --prussian: #00243D;
  --richblack: #00171F;
  --cultured: #F5F5F5;
  --pewter: #89B1BD;
  --crayola: #FFD485;
}

.wel-content {
    background-color: var(--pewter);
    padding: 50px;
    color: var(--prussian);
  }
  
  .wel-banner {
    text-align: center;
    margin-top: 75px;
    padding: 100px;
  }
  
  .sign-up-form  {
    line-height: 3em;
  }
  